<template>
	<div @mouseover="showOptions=true" @mouseleave="showOptions=false">

        <div class="row p-l-1 p-r-1" style="padding-top: 0; padding-bottom: 0;">
        	<div class="level m-b-1">
        		<div class="flex">
		            <span>
		      		    <strong>{{ data.creator.first_name + " " + data.creator.last_name }}</strong>
		            </span>
		            <span class="timestamp m-r-1">
		            	<i><span v-text="timestamp"></span></i>
		            </span>
		        </div>
	            <div v-if="canUpdate" style="text-align: right;">
	                <div class="level" v-show="showOptions">
	                    <a @click="editing=true"><span class="glyphicon glyphicon-pencil m-r-1"></span></a>
	                </div>
	        	</div>
	        </div>
            <div v-if="editing">
                <div class="form-group">
                    <textarea class="form-control" rows="3" v-model="body"></textarea>
                </div>
                <button class="btn btn-xs btn-link" @click="editing=false">Cancel</button>
                <button class="btn btn-xs btn-primary" @click="update">Update</button>
            </div>
            <div class="comment-body" v-else v-html="nl2br(body)"></div>
        </div>
        <hr/>
    </div>
</template>
<script >

	export default {
		props: ['data'],
		data() {
			return {
				showOptions: false,
				editing: false,
				body: this.data.body,
				authUserId: window.App.auth_user_id,
				authUserTimezone: window.App.auth_user_timezone,
			}
		},

		computed: {
			timestamp() {
				return moment.tz(this.data.created_at, this.authUserTimezone).format("MMM D, YYYY hh:mm a"); 
			},

			canUpdate() {
				return this.data.user_id == this.authUserId;
			}
		},

		methods: {
			add(data) {
				console.log(data);
			},
			update() {
				axios.patch('/comments/' + this.data.id, {
					body: this.body,
				});

				this.editing = false;

				flash('Comment has been updated!');
			},

			nl2br (str, is_xhtml) {   
			    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';    
			    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+ breakTag +'$2');
			}
		}
	}

</script>

<style>

.owner-comment {
	background-color: #337ab7;
	color: #fff;
}

.other-comment {
	background-color: #d9edf7;
	color: #000;
}

.timestamp {
	font-size: 8pt;
}

.comment-body {
	padding-left: 1em;
	border-left: 3px solid #bbb;
}

</style>