<template>
	<div class="panel panel-danger ticket-creation-panel">
		<div class="panel-heading level ticket-creation-panel-heading">
			<span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Comments
		</div>
		<div class="panel-body ticket-creation-panel-body comments-panel" id="comments-panel">
	        <div v-for="comment in items">
	            <comment :data="comment"></comment>
	        </div>
	        
	     </div>
	     <div class="panel-footer">
	     	<new-comment @created="add"></new-comment>
	     </div>
    </div>
</template>
<script>
import NewComment from './NewComment.vue';
import Comment from './Comment.vue';

export default {

	props: ['data'],

	components: { Comment, NewComment },

	data() {
		return {
			items: this.data,
		}
	},

	methods: {
		add(comment) {
			this.items.push(comment);
		},

		scrollToEnd() {    	
	      var container = this.$el.querySelector("#comments-panel");
	      container.scrollTop = container.scrollHeight;
  		},
	},

	mounted() {
		this.scrollToEnd();
	}
}
</script>
<style>
	.comments-panel {
		height: 350px;
		max-height: 350px;
		overflow-y: scroll;
	}
</style>