<template>
    <div class="flash-message" v-show="show">
	    <div class="alert fade in" :class="'alert-'+type">
	        {{ body }}&nbsp;&nbsp;<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	    </div>
	</div>
</template>

<script>
    export default {
    	props: ['message', 'level'],
        data() {
        	return {
                body: '',
                type: 'success',
        		show: false,
        	}
        },

        created() {
        	if(this.message) {
        		this.flash({
                    message: this.message,
                    level: (this.level) ? this.level : 'success',
                });
        	}

        	window.events.$on('flash', 
        		data => this.flash(data)
        	);
        },

        methods: {
        	flash(data) {
        		this.body = data.message;
                this.type = data.level.toLowerCase();
        		this.show = true;

        		this.hide();
        	},

        	hide() {
        		setTimeout(() => {
        			this.show = false;
        		}, 5000);
        	}
        }
    }
</script>

<style>
	
.flash-message {
	position: fixed;
	text-align: center; 
	padding: 0;
	/*bottom: 20px;*/

    top: 10%;
	/*left: 35%;*/

    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    /* give it dimensions */
    min-height: 10em;
    width: 50%;

	font-weight: 600;
	color: #000 !important;
	z-index: 100;
}
</style>
