<template>
	<div>
		<!-- <form> -->
	        <div class="form-group">
	            <textarea v-model="body" 
	                      name="comment" 
	                      class="form-control" 
	                      rows="3" 
	                      placeholder="Add a comment.."
	                      @keydown.enter.prevent="addComment"
	                      ></textarea>
	        </div>
	        <div class="form-group level">
	            <span class="flex">&nbsp;</span>
	            <button type="submit" class="btn btn-default" @click="addComment">
	                <span class="glyphicon glyphicon-comment"></span> Add comment
	            </button>
	        </div>
	    <!-- </form> -->
    </div>

</template>
<script>
	export default {
		data() {
			return {
				body: '',
				endpoint: location.pathname +'/comments/create',
			}
		},

		methods: {
			addComment() {
				axios.post(this.endpoint, { body: this.body })
					.then(({data}) => {
						this.$emit('created', data);
						this.body = '';
						flash('Comment has been added!');
					});
			},
		}
	}

</script>