<template>
	<li class="dropdown">
        <a href="#" class="menu-items dropdown-toggle" data-toggle="dropdown">
        	<span class="glyphicon glyphicon-user"></span>&nbsp;
        	Hi, {{ authUserName }}!
        	&nbsp;
        	<span class="label label-danger"
        		  v-if="notifications.length"
        		  v-text="notifications.length"></span>
        </a>
        
        <ul class="dropdown-menu" v-if="notifications.length">
            <li class="level notifications" v-for="notification in notifications">
            	<a :href="notification.data.ticketUrl" 
            		class="flex notification-text" 
            		v-text="notification.data.message" 
            		@click="markAsRead(notification)">
            	</a>
            	<a :href="notification.data.notificationUrl"
            		class="notification-trash"
            		@click.prevent="markAsRead(notification)">
            		<span class="glyphicon glyphicon-trash"></span>
            	</a>
            </li>
        </ul>

        <ul class="dropdown-menu" v-else>
        	<li class="empty-notifications level">
        		<span class="flex">
        			<span class="glyphicon glyphicon-bell"></span>
	        		&nbsp;
	        		You don't have any unread notifications. Good job!
        		</span>
        	</li>
        </ul>
	</li>
</template>
<script>
	export default {

		data() {
			return {
				notifications: false,
				authUserId: window.App.auth_user_id,
				authUserName: window.App.auth_user_name,
			}
		},

		created() {
			this.loadNotifications();

			setInterval(() => {
		      this.loadNotifications();
		    }, 30000); 
		},

		methods: {
			markAsRead(notification) {
				axios.delete('/users/' + this.authUserId + '/notifications/' + notification.id);
				this.notifications.splice(this.notifications.indexOf(notification),1);
			},

			loadNotifications() {
				axios.get('/users/' + this.authUserId + '/notifications')
				 .then(response => this.notifications = response.data);
			}
		}
	}
</script>

<style>
.dropdown-menu {
	/*padding: 0 !important;*/
}

.empty-notifications {
	min-width: 350px;
	margin: 0;
	padding: 1em 2em;
	color: #aaa;
	text-align: center;
	font-size: 9pt;
}

.notifications {
	padding: 0;
	margin: 0;
	color: #999;
	text-align: center;
	font-size: 9pt;
}

.notification-text {
	margin: 0 !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-right: 12px !important;
	padding-left: 20px !important;
}

.notification-trash {
	margin: 0 !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-right: 20px !important;
	padding-left: 8px !important;
}
</style>