<template>
	<div class="row task-content-row" :class="success">
		<div class="col-md-1 task-content"><input type="checkbox" @click="toggleComplete(data)" v-model="checked"></div>
    	<div class="col-md-2 task-content"><a href="#" @click.prevent="toggleDetails(showDetails)" v-text="'#' + pad(data.ticket_id) + ' - ' + data.number"></a></div>
    	<div class="col-md-3"><a href="#" @click.prevent="toggleDetails(showDetails)" v-text="data.subject"></a></div>
    	<div class="col-md-2 task-content"><span v-text="data.assignee.first_name + ' ' + data.assignee.last_name"></span></div>
    	<div class="col-md-2 task-content"><span v-text="dueDate"></span></div>
    	<div class="col-md-2 task-content"v-model="completed">{{ completed }}</div>
    	<div class="col-md-10 task-details" v-show="showDetails">
    		<strong>Details from {{ data.creator.first_name + ' ' + data.creator.last_name }}</strong>: <i>{{ nl2br(data.details)}}</i>
    	</div>
	</div>
</template>
<script>
	import moment from 'moment';
	import momenttz from 'moment-timezone';
	import momenttzutils from 'moment-timezone-utils';

	export default {
		props: ['data'],

		data() {
			return {
				authUserTimezone: window.App.auth_user_timezone,
				checked: (this.data.completed == true) ? true : false,
				completed: (this.data.completed == true) ? 'Yes' : 'No',
				success: (this.data.completed == true) ? 'bg-success' : '',
				details: this.data.details,
				showDetails: false,
			}
		},

		computed: {
			dueDate() {
				return moment.tz(this.data.due_date, this.authUserTimezone).format("MMM D, YYYY");
			},
		},

		methods: {
			toggleComplete(data) {
				axios.patch('/tasks/' + data.id + '/complete', {
					completed: (this.checked)})
				.catch(error => {
					flash(error.response.data, 'danger');
					this.checked = (this.data.completed == true) ? true : false;
				})
				.then(response => {
				 	this.completed = (response.data.completed == true) ? 'Yes' : 'No';
				 	this.success = (response.data.completed == true) ? 'bg-success' : ''
					flash('Task has been updated!');
				});
			},
			toggleDetails(show) {
				this.showDetails = (show) ? false : true;
			},

			pad(num) {
				var s = String(num);
				while (s.length < (6 || 2)) {s = "0" + s;}
				return s;
			},

			nl2br (str, is_xhtml) {   
			    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';    
			    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+ breakTag +'$2');
			},
		}
	}
</script>
<style>
.task-content-row {
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid gray;
	padding: 5px;
	padding-top: 10px;
}

.task-content {
	text-align: center;
}

.task-details {
	margin-top: 10px;
	margin-bottom: 10px;
    font-size: 9pt;
    margin-left: 5em;
    margin-right: 5em;
    border-left: 3px solid #bbbbbb;
    border-right: 3px solid #bbbbbb;
    text-align: justify-all;
    padding: 1em;
}
</style>