<template>

<div class="panel panel-info">
    <div class="panel-heading level">
    	<div class="flex">
    		<span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Tasks
    	</div>
    	<div>
    		<a href="#" data-toggle="modal" data-target="#task-create-modal">
    			<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Tasks
    		</a>
    	</div>
    </div>
    <div class="panel-body">
	    	
	    <div v-if="items.length">
	    	<div class="row task-heading-row">
		    	<div class="col-md-1 task-heading">&nbsp;</div>
		    	<div class="col-md-2 task-heading">Task ID</div>
		    	<div class="col-md-3 task-heading">Subject</div>
		    	<div class="col-md-2 task-heading">Assignee</div>
		    	<div class="col-md-2 task-heading">Due Date</div>
		    	<div class="col-md-2 task-heading">Completed</div>
		    </div>
		    <div v-for="task in items">
	    		<task :data="task"></task>
	    	</div>
	    </div>
		<div v-else><span style="color: #aaaaaa" >No tasks created yet..</span></div>
    	
    </div>
</div>

</template>
<script>

	import Task from './Task.vue';

	export default {
		props: ['data'],

		components: { Task },

		data() {
			return {
				items: this.data,
			}
		}

	}
</script>
<style>
.task-heading-row {
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 3px solid #555;
}
	
.task-heading {
	font-weight: bold;
	text-align: center;
	margin-bottom: 1em;
}
</style>