#content {
	font-size: 9pt !important;
}

.container {
	padding-top: 7em;
}

/** Helper Styles **/
.login { padding-top: 12 em !important; }
.level { display: flex; align-items: center; }
.flex { flex: 1; }
[v-cloak] { display: none; }
.p-t-1 { padding-top: 1em; }
.p-b-1 { padding-bottom: 1em; }
.p-l-1 { padding-left: 1em; }
.p-r-1 { padding-right: 1em; }
.p-l-2 { padding-left: 2em; }
.p-r-2 { padding-right: 2em; }
.p-lr-5 { padding-left: 5em; padding-right: 5em; }
.m-t-1 { margin-top: 1em; }
.m-b-1 { margin-bottom: 1em; }
.m-b-2 { margin-bottom: 2em; }
.m-r-1 { margin-right: 1em; }
.m-l-1 { margin-left: 1em; }
.m-l-2 { margin-left: 2em; }
.help-block { color: red; font-size: 10px; }
.hint {
	font-style: italic;
	color: #999;
	vertical-align: middle;
}
.subtle-link {
	font-size: 9pt;
	color: #aaa;
}

.subtle-link:hover {
	font-size: 9pt;
	color: #aaa;
	text-decoration-line: underline;
}

/** Sidebar **/
#sidebar-wrapper {
	z-index: 1;
	position: absolute;
	width: 0px;
	height: 100%;
	overflow-y: hidden;
	background: transparent;
	opacity: 0.9;
	-webkit-transition: width 0.5s;
    transition: width 0.5s;
}

#app {
	width: 100%;
	position: absolute;
	-webkit-transition: padding 0.5s; 
    transition: padding 0.5s;
}

#content{
	
	-webkit-transition: margin-left 0.5s; 
    transition: margin-left 0.5s;
}

#sidebar-wrapper {

	position: fixed;
	background-color: #FFF;
}

#app.sidebar-displayed #sidebar-wrapper {
	width: 200px;
	-webkit-transition: width 0.5s; 
    transition: width 0.5s;

}

#app.sidebar-displayed #content {
	margin-left: 200px;
	-webkit-transition: margin-left 0.5s; 
    transition: margin-left 0.5s;
}

.sidebar-title {
	background-color: #DEDEDE;
}

.sidebar-nav li a.sidebar-title {
	color: #333;
}

.sidebar-nav li a.sidebar-title:hover {
	background-color: #C4C4C4;
	color: #000;
	/*font-weight: bold;*/
}

.sidebar-nav {
	padding: 0;
	list-style: none;
	margin-top: 4em;
}

.sidebar-nav li {
	text-indent: 15px;
	line-height: 25px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #333;
	white-space: nowrap;
}

.sidebar-nav li a.sidebar-title {
    height: 45px;
    font-size: 12px;
    line-height: 50px;
    text-indent: 10px;
    vertical-align: middle;
    
}

.sidebar-nav li a:hover {
	background-color: #F1F1F1;
	color: #000;
	/*font-weight: bold;*/
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
    color: #777;
}

a.navbar-btn {
	border: 1px solid #ddd;
	background-color: transparent;
	margin-left: 15px;
}

a.navbar-btn .glyphicon-menu-hamburger {
	padding: 5px 0px 5px 0px;
	color: #333;
	font-size: 15px;
}

a.navbar-btn:hover {
	background-color: #eee;
	border: 1px solid transparent;
}

div.collapse-group > .list-group {
	margin-bottom: 0;
}

.sidebar-list-collapse {
	border-color: #999;
	/*background-color: #999;*/
	border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    font-size: 12px;
    padding 0;
}

.sidebar-list-collapse a {
	padding-left: 0em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

.sidebar-list-collapse a:hover {

	/*background-color: #eee;*/
}

.sidebar-list-collapse a span {
	color: #black;
}

.activity-list  {
	color: #777777;
	font-size: 9pt;
}

div.table-responsive {
	width:100%;
	overflow-x: auto;
    white-space: nowrap;
}

div.table-users {
	width:100%;
	overflow-x: auto;
    white-space: nowrap;
}

div.table-survey {
	width:100%;
	/*white-space: nowrap;*/
}

.clickable-row:hover {
	cursor: pointer;
}

div.sub-tickets-panel {
	width:100%;
	overflow-x: auto;
    white-space: nowrap;
}

.paginate_button.active > a {
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn {
	font-size: 9pt !important;
}

.btn-file {
	background-color: #d9534f;
	border-color: #d43f3a;
}

.btn-file:hover {
	background-color: #c9302c;
	border-color: #ac2925;
}

div.btn-file:active,
div.btn-file:focus{
	background-color: #ac2925 !important;
}

textarea, input, select, button {
	font-size: 9pt !important;
}

.ticket-creation-panel {
	border-color: #761c19;
}

.ticket-creation-panel > .ticket-creation-panel-heading {
	border-color: #761c19;
	background-color: #ac2925;
	color: #fff;
}

.bootstrap-select .dropdown-menu{
	font-size: 9pt !important;
}

.ticket-creation-panel > .ticket-creation-panel-footer {
	border-color: #761c19;
	background-color: #ac2925;
	color: #fff;
}

.ticket-creation-panel-footer a {
	color: #fff;
	font-weight: bold;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus {
	border-color: #761c19;
	background-color: #ac2925;
}
.table > thead > tr > th {
	border-bottom: 2px solid #bbb;
}

.table > tbody > tr > td {
	border-top: 1px solid #bbb;
}


